<?xml version="1.0" encoding="utf-8" ?>
  <appSettings>
    <add key="GithubToken" value="ba8a40e560ea7034cf439459183dee135aec7895"/>
    <add key="Neo4jConnection" value="http://githubgraph:b.CD4kjakZMnKK.ns6Lx0atUWFiwxEb@hobby-gcnjigmjjildgbkemccpcdol.dbs.graphenedb.com:24789/db/data/" ></add>
  </appSettings>
